.different-section {
    padding-bottom: 158px;
}
.different__card {
    width: 150px;
    height: 1px;
    margin-bottom: 63px;
    background-color: #C396C6;
}
.different__title {
    margin-bottom: 96px;
    color: #2C2830;
    font-family: 'DM Serif Display', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; 
    letter-spacing: -1px;
}
.different__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.different__item {
    width: 350px;
}
.different__bold {
    margin: 32px 0 16px;
    color: #2C2830;
    font-family: 'DM Serif Display', serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.389px;
}
.different__text {
    color: #837D88;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}