.work-section {
    padding-bottom: 150px;
}
.work {
    padding: 69px 80px 69px 81px;
    background-color: #2D2641;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.work::before{
    content: " ";
    background-image: url("../../Images/work.svg");
    background-repeat: no-repeat;
    background-size: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 772px;
    z-index: 1;
    position: absolute;
}
.work__card {
    width: 475px;
}
.work__title {
    color: #FFF;
    font-family: 'DM Serif Display', serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; 
    letter-spacing: -0.778px;
}
.work__link {
    width: 160px;
    padding: 13px 0 12px;
    border: 1.5px solid #FFF;
    display: inline-block;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    transition: all 0.4s linear;
    &:hover{
        color: green;
        border-color: green;
    }
    &:active{
        background-color: #2C2830;
        color: #FFF;
    }
    position: relative;
    z-index: 2;
}